# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build
dist

# Testing
coverage
.nyc_output

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Docs
README.md
todo.md

# Misc
*.log
.cache
