.container-video{
  width: auto;
}

.card-video{
  height: 80%;
}
.video-js{
 width: auto;
 height: 100%;
 background-color: rgb(255, 255, 255);
 border: 5px solid #d9d9d9;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color:  #ffb300c0;
}

.video-js .vjs-slider {
 background-color: #e0e0e0;
 background-color:  #dfdfdfea;
}

.video-js .vjs-big-play-button{
 display: none;
}
