.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-container {
  display: 'flex';
  position: 'absolute';
  right: '50%';
  transform: 'translate(50%, 30px)';
  bottom: '50px';
  z-Index: 1;
  transition: 'opacity 1.2s, transform 1.2s, visibility 0s 1.2s';
  opacity: 0;
  visibility: 'hidden';
  max-Width: 'min-content';
}

.btn-container:hover {
  transition: 'opacity 0.6s, transform 0.6s, visibility 0s';
  opacity: 1;
  visibility: 'visible';
  transform: 'translate(50%, 0px)';
}